@model CyfrowaBiblioteka.Models.Wypozyczenie

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Wypozyczenie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OsobaWypozyczajaca" class="control-label"></label>
                <input asp-for="OsobaWypozyczajaca" class="form-control" />
                <span asp-validation-for="OsobaWypozyczajaca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataWypozyczenia" class="control-label"></label>
                <input asp-for="DataWypozyczenia" class="form-control" />
                <span asp-validation-for="DataWypozyczenia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataZwrotu" class="control-label"></label>
                <input asp-for="DataZwrotu" class="form-control" />
                <span asp-validation-for="DataZwrotu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KsiazkaId" class="control-label"></label>
                <select asp-for="KsiazkaId" class ="form-control" asp-items="ViewBag.KsiazkaId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
